<html>
	<head>
		<title>ES GIBT WENIGE REGELN</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="content">
			<h1>
				Es gibt wenige Regeln, aber eine davon ist 
				<span class="rule">
					<a href="/{{ rule.id }}" title="Permalink zu dieser Regel">{{ rule.rule }}</a>
				</span>
			</h1>
		</div>
		<a href="/" class="button">Noch mehr</a>
	</body>
</html>